# Generic backup and garbage files
*~
*.bak
*.swp
*.swo

# Various Minecraft/Curseforge clientside stuff
.curseclient
config/worldedit/.archive-unpack/
crash-reports/
datapacks/
hs_err_*.log
journeymap/
local/
logs/
minecraftinstance.json
options.txt
patchouli_data.json
resourcepacks/
rhino.local.properties
saves/
screenshots/
usercache.json
usernamecache.json
.qmenu_opened.marker
fancymenu_data/
config/worldedit/sessions/

# Server garbage
eula.txt
libraries/
run.bat
run.sh
server.properties
user_jvm_args.txt
world/

# Tracked by the manifest file
mods/*
!mods/readme.txt
!mods/plaguesky-*

